# Must be at least 32 characters long.
BETTER_AUTH_SECRET=SECRET_HERE

# Base URL
# Keep as is if auth happens on the same domain.
# For more info, see https://better-auth.com/docs/installation
BETTER_AUTH_URL=http://localhost:3000 